#body {
  background-image: linear-gradient(to right, red , yellow);
}

#h1 {
  color: white;
  font-family: "arial";
  font-size: 40px;
  
}

#h2 {
  color: white;
  font-family: "arial";
  font-size: 25px;
}

#h3 {
  color: white;
  font-family: "arial";
  font-size: 10px;
}

#para {
  text-align: center;
  border: 3px white;
  margin-left: 30px;
  margin-right: 30px;
}
