css here. 

#body {
  background-image: linear-gradient(to bottom, #0033cc 0%, #99ccff 58%);
}

#h1 {
  color: white;
  font-family: "arial";
  font-size: 40px;
  
}

#h2 {
  color: white;
  font-family: "arial";
  font-size: 25px;
}

#h3 {
  color: white;
  font-family: "arial";
  font-size: 10px;
}
